$font-family-base: 'Jost', sans-serif;
$primary: hsl(175, 98, 39);
$link-color: #4A4A4A;
$link-hover-color: $primary;
$navbar-nav-link-padding-x: 1rem;
$body-color: hsl(360,1,26);
$font-weight-base: 400;

$font-weight-hairline: 100;
$font-weight-thin: 200;
$font-weight-light: 300;
$font-weight-book: 400;
$font-weight-medium: 500;
$font-weight-semi: 600;
$font-weight-bold: 700;
$font-weight-heavy: 800;
$font-weight-black: 900;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1280px
);

body.section-home{
  overflow-x: hidden;
}

body{
  text-rendering: optimizeLegibility;
}

@import "~bootstrap/scss/bootstrap";


@import "components/blog";
